<%- include('partials/header') -%>
<%- include('partials/navbar') -%>

<div class="container-fluid">
	<div class="card">
		<img class="card-img-top" src="/img/screenshot.png" alt="Card image cap">
	</div>
</div>
		
<%- include('partials/footer') -%>