<%- include('partials/header') -%>
<%- include('partials/navbar') -%>

<div class="container-fluid">
	<div class="card">
		<!-- <img class="card-img-top" src="/img/screenshot.png" alt="Card image cap"> -->
		<h1 class="card-title">
			Content goes here
		</h1>
	</div>
</div>
		
<%- include('partials/footer') -%>